pkgbase = linapse-cad-mouse
	pkgdesc = CAD Mouse MK2 Linapse driver service and configurator
	pkgver = 2.21.6
	pkgrel = 1
	url = https://github.com/spikeon/linapse-cad-mouse-v2
	arch = any
	license = GPL3
	depends = python
	depends = python-websockets
	depends = python-pyserial
	depends = python-yaml
	depends = python-fastapi
	depends = python-uvicorn
	depends = python-numpy
	depends = python-scipy
	depends = ydotool
	depends = electron
	source = linapse-cad-mouse-2.21.6.tar.gz::https://github.com/spikeon/linapse-cad-mouse-v2/archive/refs/tags/v2.21.6.tar.gz
	source = linapse-configurator
	source = linapse-configurator.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linapse-cad-mouse
